{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/jujutsu-hs.webp')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-9 col-xl-6">
        <div class="page-heading">
          <h1>About Jutjutsu-High</h1>
          <span class="subheading">This is what we do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-10 col-xl-10 mx-5">

        <div class="container mb-5">

          <h2 class="row justify-content-center mb-3">
            Description
          </h2>

          <div class=" row justify-content-center mb-3">
            <p>
              Tokyo Jujutsu High serves not only as a training ground for the next generation of sorcerers 
              but a headquarters for all alumni who have graduated on to be full-fledged jujutsu sorcerers as well. 
              All sorcerers play a role in mentoring jujutsu students, whether in a teacher's role or accompanying them on missions. 
              Weaker sorcerers are assigned the roles of windows, someone who can see curses but is not considered a full-fledged sorcerer 
              or managers to contribute as well.
            </p>

            <p>
              The jujutsu schools are considered the place for the community and provide mediation, general support, education, and shelter.
            </p>
          </div>

          <div class="row justify-content-center">
            <img src="../static/assets/img/Jujutsu_Logo.webp" class="w-25">
          </div>
        </div>


        <div class="container mb-5">

          <h2 class="row justify-content-center mb-3">
            Location
          </h2>

          <div class=" row justify-content-center mb-3">
            <p>
              Tokyo Jujutsu High is a broad campus of several buildings build in a traditional Japanese architectural style, 
              operating under the guise of a Buddhist temple. The school building is well hidden on Tokyo's outskirts, 
              far and high in the mountains. Naturally, there are a lot of trees around the property to further obscure the location.
              Some elements other than the buildings reflect the Buddhist theme. 
              There are several statues of deities, shrines, and torii gates around the campus.
            </p>

            <p>
              There are several entrances into the school. The entire property is hidden by a protective barrier maintained by Master Tengen, 
              who lives beneath the school in the Tombs of the Star.[3] The school grounds include training grounds, courtyards, dormitories, 
              and classrooms, among a variety of other amenities.
            </p>
          </div>

          <div class="row justify-content-center" >

            <!-- <div class="col md-4 text-center">
              <img src="../static/assets/img/jujutsu-hs.webp" class="w-75 mx-2 mb-5 img-fluid rounded" alt="Responsive image">
              <img src="../static/assets/img/jjk-battlefield.webp" class="w-75 mx-2 mb-5 img-fluid rounded" alt="Responsive image">
            </div> -->
            
            <div id="jjk-high-loc" class="carousel slide">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="../static/assets/img/jjk-battlefield.webp" class="d-block w-100 rounded" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="../static/assets/img/jjk-highschool.webp" class="d-block w-100 rounded" alt="...">
                </div>
                
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#jjk-high-loc" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#jjk-high-loc" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>

          </div>


        </div>


        <div class="container mb-5">

          <h2 class="row justify-content-center mb-3">
            Curriculum
          </h2>

          <div class=" row justify-content-center mb-3">
            <p>
              The school's curriculum is taught over four years. 
              The concept is to train young sorcerers to control their curses and use them to exorcise other curses. 
              All classes appear to be taught by active professional jujutsu sorcerers. 
              The teachers regulate their students' training regiments and education as they see fit. 
              Sorcerers are rare, so classes are often small and focused on building up the individual students 
              into competent sorcerers as quickly as possible.
            </p>

            <p>
              Students are given a formal education with standard school classes such as homeroom 
              and sorcerer training through practical jujutsu classes.[13] They move from their original 
              homes to live on campus in the dormitories. The majority of training, classes, 
              and school events are all conducted on campus grounds.
            </p>
          </div>

          <div class="row justify-content-center" >

            <!-- <div class="col md-4 text-center">
              <img src="../static/assets/img/jujutsu-hs.webp" class="w-75 mx-2 mb-5 img-fluid rounded" alt="Responsive image">
              <img src="../static/assets/img/jjk-battlefield.webp" class="w-75 mx-2 mb-5 img-fluid rounded" alt="Responsive image">
            </div> -->
            
            <div id="jjk-high-loc" class="carousel slide">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="../static/assets/img/jjk-curric-1.webp" class="d-block w-100 rounded" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="../static/assets/img/jjk-curric-2.webp" class="d-block w-100 rounded" alt="...">
                </div>
                
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#jjk-high-loc" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#jjk-high-loc" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>

          </div>


        </div>
        


      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
